#wrapper {
    display: grid;
    grid-template-columns: 48px 1fr;
    height: calc(100vh - 48px);
}

#course-sidebar {
    height: calc(100vh - 72px);
}

#course-sidebar::-webkit-scrollbar {
    width: 0;
}


#headliner {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(245,245,245,1) 60%);
}

#inner {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.4962359943977591) 0%, rgba(255,255,255,0) 50%);
}


#shadow {
    background: #ffffff;
    background: linear-gradient(0deg, #ffffff 20%, #ffffff00 100%);
}