#wrapper {
    height: calc(100vh - 48px);
}


/* Main page > Headliner */
#headliner {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(245,245,245,1) 60%);
}

#inner {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.4962359943977591) 0%, rgba(255,255,255,0) 50%);
}

@media screen and (max-width: 640px) {
    #inner {
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0.4962359943977591) 0%, rgba(255,255,255,0) 50%);
    }
}


/* Topic page > Banner */
#topic {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(245,245,245,1) 60%);
}


/* Course page > CourseView */
#course-sidebar {
    height: calc(100vh - 72px);
}

#course-sidebar::-webkit-scrollbar {
    width: 0;
}


/* Course page > Chapters */
#shadow {
    background: #ffffff;
    background: linear-gradient(0deg, #ffffff 20%, #ffffff00 100%);
}


/* Course player */
#player::-webkit-scrollbar {
    width: 0;
}



