#wrapper {
    display: grid;
    grid-template-columns: 48px 1fr;
    height: calc(100vh - 48px);
}

#course-sidebar {
    height: calc(100vh - 72px);
}

#course-sidebar::-webkit-scrollbar {
    width: 0;
  }


.headliner {
    background: rgb(245, 245, 245);
    background: linear-gradient(0deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 0) 100%);
}


#shadow {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}